<po-page-default class="po-text-color-04" p-title="Contato">

<p class="po-font-text">E-mail:
    <a href="mailto:mailto:bemmaiscomercial@gmail.com">bemmaiscomercial@gmail.com</a>
</p>

<p class="po-font-text">Telefone:
    <a href="tel:+5511977180815">(11) 97718-8081</a>
</p>

<p class="po-font-text">Endereço:
    <a target="_blank" href="https://www.google.com/maps/place/Av.+da+Liberdade,+1000+-+Liberdade,+São+Paulo+-+SP,+01502-001">
        São Paulo - SP, Avenida Liberdade, nº 1000 – sala 1506
    </a>
</p>

</po-page-default>