<po-page-default class="po-text-color-04" p-title="Serviços">

    <p class="po-font-subtitle">Psicologia</p>

    <p class="po-font-text">
        A psicologia procura auxiliar o individuo com seus aspectos emocionais e/ou disturbios mentais a obter uma intereção com o ambiente que está inserido, visando o melhor convinio do individuo para com a sociedade e seu bem-estar.
    </p>

    <p class="po-font-text">
        Para isto, a clinica conta com os seguintes serviços em Psicologia:
    </p>

    <ul class="po-font-text po-ml-2">
        <li>Orientação Vocacional</li>
        <li>Psicoterapia adulto</li>
        <li>Psicoterapia infantil</li>
        <li>Psicoterapia de Grupo</li>
        <li>Psicoterapia Familiar</li>
        <li>Psicoterapia Casal</li>
        <li>Acompanhamento psicologico para idosos</li>
    </ul>

    <po-divider></po-divider>

    <p class="po-font-subtitle">Outros serviços</p>

    <p class="po-font-text">
        Além dos serviços de psicologia, também contamos com os seguintes serviços:
    </p>

    <ul class="po-font-text po-ml-2">
        <li>Geneticista</li>
        <li>Fonoaudiologia</li>
        <li>Nutrição</li>
        <li>Psicopedagogia</li>
    </ul>

</po-page-default>