<po-page-default class="po-text-color-04" p-title="Valores">

    <p class="po-row po-font-text">
        Nós da Clínica Bem+ Saúde e Bem-estar acreditamos que a confiança é a base do relacionamento com nossos clientes e parceiros, e por isso, norteamos todo o nosso atendimento nos seguintes valores:
    </p>

    <ul class="po-font-text po-ml-2">
        <li>Satisfação do Cliente</li>
        <li>Respeito</li>
        <li>Competência Técnica</li>
        <li>Trabalho em Equipe</li>
        <li>Aperfeiçoamento Contínuo</li>
        <li>Profissionalismo.</li>
    </ul>

</po-page-default>